{% extends "top_layout.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>


<!--    <p id="home">-->
<!--        <a href="/">-->
<!--          <img src="/static/img/home.png" align="left" width="100" height="100">-->
<!--        </a>-->
<!--        <h2 id="cur-date" align="left">-->
<!--        </h2>-->
<!--    </p>-->

    <div>
        <form action="/date" method="GET">
            カレンダー:
            <input id="checkdate" type="text" name="check_date" size="70" autocomplete="off">
            <input type="submit" name="submit_button" value="表示" size="70">
        </form>
        <form action="" method="POST">
            {{form.hidden_tag()}}
            Mamos IP:
            {{ form.ip(size=100) }}
            <input type="submit" name="submit_button" value="追加" size="70">
        </form>
    </div>

    <div id="users-contain" class="ui-widget">
        <table id="table-box" class="ui-widget ui-widget-content">
            <thead>
              <tr class="ui-widget-header ">
                {% for header in headings %}
                    <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>


            {% for row in data %}
                <tr>
                    <td><a href="http://{{ row[0] }}/image_monitor1/"> {{ row[0] }}</a></td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td><input type="button" value="削除"></td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <script>
        var today = new Date();
        var cur_date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate())).slice(-2);

        document.getElementById("cur-date").innerHTML = "  今日: " + cur_date;
    </script>

    <script>
        $(document).ready(function(){
            $("#checkdate").datepicker({ format: "yyyy-mm-dd" });
        });
    </script>

    <script>
        $('input[type="button"]').click(function(e){
           var tds = $(this).closest('tr').children('td');
           //alert(tds[0].innerHTML)
           var name = tds[1].innerHTML;
           $.ajax({
                type: "POST",
                url: "/",
                // The key needs to match your method's input parameter (case-sensitive).
                data: JSON.stringify({ "remove_name":name }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            });
           $(this).closest('tr').remove()
        })
    </script>
{% endblock %}
