{% extends "top_layout.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <a href="/"><h2>表示データ: <i id="cur-date">{{ data.date }}</i></h2></a>

    <div id="users-contain" class="ui-widget">
        <table id="table-box" class="ui-widget ui-widget-content">
            <thead>
              <tr class="ui-widget-header ">
                {% for header in headings %}
                    <th>{{ header }}</th>
                {% endfor %}
              </tr>
            </thead>


            {% for row in data.log %}
                <tr>
                    {% for cell in row %}
                        <td>{{cell}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
    </div>

    <script>
        $.ajaxSetup({
            async: false,
            cache: false
        });

        window.setInterval( function () {
            var today = new Date();
            var cur_date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate())).slice(-2);
            var select_date = document.getElementById("cur-date");
            if (cur_date === select_date.innerText){
                refresh();
            }
        }, 30000);

        function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
        }

        function refresh(){
          setTimeout( function() {
            location.reload()
          }, 0);
        }
    </script>
{% endblock %}


<!--                var sorted_ips = [];-->

<!--                for (const x of Array(6).keys()) {-->
<!--                    for (ip in data_json){-->
<!--                        name = data_json[ip]["name"];-->
<!--                        if (name.includes(x)){-->
<!--                            sorted_ips.push(ip);-->
<!--                        }-->
<!--                    }-->
<!--                }-->


<!--        function refresh(){-->
<!--            $.ajax({-->
<!--                type: "GET",-->
<!--                url: "/update",-->
<!--            });-->

<!--            sleep(2000);-->
<!--            table = document.getElementById("table-box");-->
<!--            rows = table.rows;-->

<!--            $.getJSON("../static/data.json", function(data_json) {-->
<!--                var sorted_ips = [];-->
<!--                for (i = 1; i < (rows.length); i++) {-->
<!--                    for (ip in data_json){-->
<!--                        var name = data_json[ip]["name"];-->
<!--                        var res = name.replace("マウントサブ", "");-->
<!--                        res = res.replace("号機", "");-->
<!--                        if (res.includes(i)){-->
<!--                            sorted_ips.push(ip);-->
<!--                        }-->
<!--                    }-->
<!--                }-->

<!--                n = 1;-->
<!--                for (idx in sorted_ips){-->
<!--                    ip = sorted_ips[idx];-->

<!--                    var x = table.rows[n].cells;-->
<!--                    n += 1-->
<!--                    x[0].innerHTML = data_json[ip]["name"];-->
<!--                    for (i = 0; i < 8; i++) {-->
<!--                      x[i+1].innerHTML = data_json[ip]["product"][i];-->
<!--                    }-->
<!--                    for (i = 8; i < 11; i++) {-->
<!--                      x[i].innerHTML = data_json[ip]["alarm"][i-8];-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        }-->