{% extends "top_layout.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div id="users-contain" class="ui-widget">
        Loading...
    </div>

    <script>
        $(document).ready( function(){
            var select_date = document.getElementById("cur-date");
            refresh(select_date.innerText);
        });

        window.setInterval( function () {
            var today = new Date();
            var cur_date = today.getFullYear()+'-'+("0" + (today.getMonth() + 1)).slice(-2)+'-'+("0" + (today.getDate())).slice(-2);
            var select_date = document.getElementById("cur-date");
            if (cur_date === select_date.innerText){
              refresh(select_date.innerText);
            }
        }, 5000);

        function refresh(select_date){
          var url = "/update_table?check_date=" + select_date + "&submit_button=表示";
          setTimeout( function() {
            $('#users-contain').load(url);
          }, 0);
        }
    </script>
{% endblock %}